<!DOCTYPE html>

    
    <head>
        <script src="libs/angular.js"></script>
        
        
        <script>
        
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope) {
                $scope.message = "";
                $scope.add = function(){
                    
                    var f = document.getElementById('file').files[0],
                    r = new FileReader();
                    r.onloadend = function(e){
                        var data = e.target.result;
                        //send you binary data via $http or $resource or do anything else with it
                        $scope.message = "test";
                        $scope.$apply();
                    }
                    r.onprogress = function(e){
                       
                        $scope.message = "progress";
                        $scope.$apply();
                    }
                    r.readAsBinaryString(f, "UTF-16");
                    
                    //r.readAsText();
                    
                   
                }
                
            });
        
        </script>
        
        
        <script type="text/javascript">
            function load_image(id,ext)
            {
                if(validateExtension(ext) == false)
                {
                    alert("Upload only JPEG or JPG format ");
                    document.getElementById("file").value = "";
                    document.getElementById("file").focus();
                    
                    return;
                }
                document.getElementById("preview").src= ext;
                    alert(ext);
            }

            function validateExtension(v)
            {
                var allowedExtensions = new Array("jpg","JPG","jpeg","JPEG");
                for(var ct=0; ct < allowedExtensions.length; ct++)
                {
                    sample = v.lastIndexOf(allowedExtensions[ct]);
                    if(sample != -1){return true;}
                }
            return false;
            }
        </script>
        
        
    </head>


    
    <body>
        <div ng-app="myApp" ng-controller="myCtrl">
            <p>Name : <input type="file" ng-model="name" id="file" accept="image/*" onChange="load_image(this.id,this.value)"></p>
            <button ng-click="add()">Add</button>
            <h1>File: {{message}}</h1>
            <img src="" id="preview" />
            
        </div>
    
    </body>



</html>